---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - endpoints
  - namespaces
  - nodes
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - spire.spiffe.io
  resources:
  - clusterfederatedtrustdomains
  - clusterspiffeids
  - clusterstaticentries
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - spire.spiffe.io
  resources:
  - clusterfederatedtrustdomains/finalizers
  - clusterspiffeids/finalizers
  - clusterstaticentries/finalizers
  verbs:
  - update
- apiGroups:
  - spire.spiffe.io
  resources:
  - clusterfederatedtrustdomains/status
  - clusterspiffeids/status
  - clusterstaticentries/status
  verbs:
  - get
  - patch
  - update
