apiVersion: spire.spiffe.io/v1alpha1
kind: ControllerManagerConfig
metadata:
  name: config
metrics:
  bindAddress: 0.0.0.0:8082
health:
  healthProbeBindAddress: 0.0.0.0:8083
entryIDPrefix: scm
className: scm
clusterName: scm
clusterDomain: local
trustDomain: example.org
watchClassless: true
staticManifestPath: /etc/spire/server/main/manifests
spireServerSocketPath: "/tmp/spire-server/private/api.sock"
logLevel: info
